extends /_layout/_index

block vars
  -
    const page = pages.services

block content
  +breadcrumb([
    { title: page.title, path: page.path },
  ], "-onVisual")

  section.l-spacer.-medium.-pageTop.-services
    .l-container.-small
      h1.p-page-heading Services
        span.p-page-heading__sub サービス
  .l-spacer.-large
    .l-container.-small
      section.l-spacer.-h2
        h2.c-heading.-lv_2 サービスの流れ
        p.c-paragraph Webサイトをスムーズに制作するため、やるべきことをステップごとに分け、ルール化しています。
        section.l-spacer.-h3
          h3.c-heading.-lv_3 戦略
          .p-service-block
            p.p-service-block__img
              img(src="/assets/img/services/img_services_01@2x.jpg", alt="テーブルを囲む8人分の椅子がある会議室の画像")
            .p-service-block__text
              p.c-paragraph ターゲットの選定や競合サイトの調査から、どのような狙いを持たせるかといった各種設計など、Webサイトの効果を最大限発揮できるように、戦略を立てます。
        section.l-spacer.-h3
          h3.c-heading.-lv_3 企画や設計
          .p-service-block
            p.p-service-block__img
              img(src="/assets/img/services/img_services_02@2x.jpg", alt="ホワイトボードに付箋を貼りながら5人でアイデアを出し合う様子")
            .p-service-block__text
              p.c-paragraph 戦略に沿って、コンテンツの企画やコピーを制作し、情報設計、プロトタイプ作成、制作ルール決め、要件定義など、見える化します。
        section.l-spacer.-h3
          h3.c-heading.-lv_3 制作・実装
          .p-service-block
            p.p-service-block__img
              img(src="/assets/img/services/img_services_03@2x.jpg", alt="テーブルの上に置かれたパソコンの画面にコードが映っている画像")
            .p-service-block__text
              p.c-paragraph デザイン、HTML/CSS/JavaScriptを用いた静的コーディング、その後必要ならばCMSの実装を行います。
        section.l-spacer.-h3
          h3.c-heading.-lv_3 運用
          .p-service-block
            p.p-service-block__img
              img(src="/assets/img/services/img_services_04@2x.jpg", alt="2人で1つのパソコンを使い、話し合う様子")
            .p-service-block__text
              p.c-paragraph Webサイトは作って終わりではありません。公開後の更新作業やデータ解析、改善施策の立案など、効果が出るようにサポートします。

  //- お問い合わせ
  include /_components/_contact-block
