.f-input-text {
  font: {
    family: $baseFont;
  }

  background: $formBgDefaultColor;

  border: {
    width: $formBorderWidth;
    style: solid;
    color: $formBorderDefaultColor;
    radius: $inputElementRadius;
  }

  padding: {
    top: 9px;
    right: 14px;
    bottom: 9px;
    left: 14px;
  }

  box-sizing: border-box;
  -webkit-transition: background-color 0.3s 0s
    cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.3s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
  -webkit-appearance: none;
  // -webkit-border-radius: 0;
  -webkit-tap-highlight-color: transparent;
  @include fontSize(16);

  &:hover {
    @media #{$screenSize_XS} {
      cursor: default;
    }

    @media #{$screenSize_S} {
      background: {
        color: #fff;
      }
    }
  }

  // type="number" の▲▼ボタンを非表示
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.f-input-text--type_calendar {
  @media #{$screenSize_S} {
    width: 339px;
  }

  background: {
    image: url('/inquiry/img/icon_calendar.svg');
    repeat: no-repeat;
    position: right 14px top 11px;
  }
}
