.f-input-text {
  @include fontSize(16);
  -webkit-appearance: none;

  box-sizing: border-box;
  -webkit-transition: background-color .3s 0s
    cubic-bezier(.215, .61, .355, 1);
  transition: background-color .3s 0s cubic-bezier(.215, .61, .355, 1);

  background: $formBgDefaultColor;
  width: 100%;
  // -webkit-border-radius: 0;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    @media #{$screenSize_XS} {
      cursor: default;
    }

    @media #{$screenSize_S} {
      background: {
        color: #fff;
      }
    }
  }
  font: {
    family: $baseFont;
  }

  border: {
    width: $formBorderWidth;
    color: $formBorderDefaultColor;
    style: solid;
    radius: $inputElementRadius;
  }

  padding: {
    top: 9px;
    right: 14px;
    bottom: 9px;
    left: 14px;
  }

  // type="number" の▲▼ボタンを非表示
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.f-input-text--type_calendar {

  background: {
    image: url("/inquiry/img/icon_calendar.svg");
    repeat: no-repeat;
    position: right 14px top 11px;
  }
  @media #{$screenSize_S} {
    width: 339px;
  }
}
