.f-select {
  display: block;
  position: relative;
  background: $formBgDefaultColor;
  width: 100%;

  & > select {
    position: relative;
    z-index: $zIndexLv1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    line-height: 1.5;

    padding: {
      top: 9px;
      right: 50px;
      bottom: 10px;
      left: 14px;
    }

    background: transparent;
    cursor: pointer;

    border: {
      width: $formBorderWidth;
      style: solid;
      color: $formBorderDefaultColor;
      radius: $inputElementRadius;
    }

    font: {
      family: $baseFont;
    }

    @include fontSize(16);

    @media #{$screenSize_XS} {
      height: 44px;
    }

    @media #{$screenSize_S} {
    }

    &::-ms-expand {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 40px;
    height: calc(100%);
    border-radius: 0 $inputElementRadius $inputElementRadius 0;
    background-image: $gradation;
    z-index: $zIndexLv2;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    content: '';
    top: calc(50% - 2px);
    right: 17px;
    width: 8px;
    height: 8px;
    background: {
      repeat: no-repeat;
      size: contain;
    }
    @include icon-arrowBottom(#fff, 2);
    transform: rotate(90deg);
    z-index: $zIndexLv3;
    pointer-events: none;
  }
}

.f-select--size_50per {
  @media #{$screenSize_S} {
    width: 50%;
  }
}
