section.l-spacer.-medium.-gradient
  .l-container
    .c-grid.-justify.p-contact
      .c-grid__item.-sp12Of12
        h2.p-home-section__heading.-spCenter
          span.p-home-section__head.js-text-animation Contact
          span.p-home-section__heading-sub お問い合わせ
        p.p-home-section__paragraph.-spCenter
          | お仕事の連絡はこちらからお気軽に
          br.u-show-XS
          | お問い合わせください。
      .c-grid__item.-middle.-row.-sp12Of12
        .p-contact__info
          .p-contact__tel
            a(href="tel:000-0000-0000").p-tel 000-0000-0000
          .p-contact__button
            a(href=pages.contact.path).c-button.-white
              span お問い合わせはこちら