-

  // ==================================================
  // 共通設定
  // ==================================================
  const site = {
    title: 'WEBWEB',
    desc: '',
    url: "",
  }

  // ==================================================
  // 全体のページ構造
  // ==================================================
  const pages = {
    home: {
      title: "ホーム",
      desc: "",
      path: "/",
      hasChild: false,
      currentDir: "home"
    },
    about: {
      title: "私たちについて",
      desc: "",
      path: "/about/",
      hasChild: false,
      currentDir: "about",
    },
    services: {
      title: "サービス",
      desc: "",
      path: "/services/",
      hasChild: false,
      currentDir: "services",
    },
    works: {
      title: "実績",
      desc: "",
      path: "/works/",
      hasChild: true,
      currentDir: "works",
      child: {
        akairo: {
          title: "あかいろ株式会社",
          desc: "",
          path: "/works/detail/akairo.html",
          img: "/assets/img/akairo.jpg",
          img2: "/assets/img/akairo@2x.jpg",
          alt: "あかいろ株式会社のWebサイトのファーストビュー",
          pageImg: "/assets/img/works/detail/img_akairo@2x.jpg",
          pageImgAlt: "あかいろ株式会社のWebサイトのスクリーンショット",
          hasChild: false,
          text: "コーポレートサイトの制作を担当させていただきました。赤色を取り入れたデザインをしました。",
          home: true,
        },
        kiiro: {
          title: "きいろ株式会社",
          desc: "",
          path: "/works/detail/kiiro.html",
          img: "/assets/img/kiiro.jpg",
          img2: "/assets/img/kiiro@2x.jpg",
          alt: "きいろ株式会社のWebサイトのファーストビュー",
          pageImg: "/assets/img/works/detail/img_kiiro@2x.jpg",
          pageImgAlt: "きいろ株式会社のWebサイトのスクリーンショット",
          hasChild: false,
          text: "コーポレートサイトの制作を担当させていただきました。黄色を取り入れたデザインをしました。",
          home: true,
        },
        murasakiiro: {
          title: "むらさきいろ株式会社",
          desc: "",
          path: "/works/detail/murasakiiro.html",
          img: "/assets/img/murasakiiro.jpg",
          img2: "/assets/img/murasakiiro@2x.jpg",
          alt: "むらさきいろ株式会社のWebサイトのファーストビュー",
          pageImg: "/assets/img/works/detail/img_murasakiiro@2x.jpg",
          pageImgAlt: "むらさきいろ株式会社のWebサイトのスクリーンショット",
          hasChild: false,
          text: "コーポレートサイトの制作を担当させていただきました。紫色を取り入れたデザインをしました。",
          home: true,
        },
        orenjiiro: {
          title: "おれんじいろ株式会社",
          desc: "",
          path: "/works/detail/orenjiiro.html",
          img: "/assets/img/orenjiiro.jpg",
          img2: "/assets/img/orenjiiro@2x.jpg",
          alt: "おれんじいろ株式会社のWebサイトのファーストビュー",
          pageImg: "/assets/img/works/detail/img_orenjiiro@2x.jpg",
          pageImgAlt: "おれんじいろ株式会社のWebサイトのスクリーンショット",
          hasChild: false,
          text: "コーポレートサイトの制作を担当させていただきました。オレンジ色を取り入れたデザインをしました。",
          home: false,
        },
        pinkuiro: {
          title: "ぴんくいろ株式会社",
          desc: "",
          path: "/works/detail/pinkuiro.html",
          img: "/assets/img/pinkuiro.jpg",
          img2: "/assets/img/pinkuiro@2x.jpg",
          alt: "ぴんくいろ株式会社のWebサイトのファーストビュー",
          pageImg: "/assets/img/works/detail/img_pinkuiro@2x.jpg",
          pageImgAlt: "ぴんくいろ株式会社のWebサイトのスクリーンショット",
          hasChild: false,
          text: "コーポレートサイトの制作を担当させていただきました。ピンク色を取り入れたデザインをしました。",
          home: false,
        },
      }
    },
    news: {
      title: "お知らせ",
      desc: "",
      path: "/news/",
      hasChild: true,
      child: {
        detail: {
          title: "お知らせ詳細（テンプレート）",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2020.08.25",
          datetime: "2020-08-25",
          category: "news",
          home: false,
        },
        news1: {
          title: "WebメディアのMEDIAMEDIAに掲載されました。",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2020.07.29",
          datetime: "2020-07-29",
          category: "news",
          home: true,
        },
        news2: {
          title: "新型コロナウイルス対策について",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2020.03.05",
          datetime: "2020-03-05",
          category: "news",
          home: true,
        },
        news3: {
          title: "FLOCSSの考え方",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2020.02.01",
          datetime: "2020-02-01",
          category: "blog",
          home: true,
        },
        news4: {
          title: "JavaScriptのES6で書いてみた",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2020.01.18",
          datetime: "2020-01-18",
          category: "blog",
          home: true,
        },
        news5: {
          title: "年末年始の営業について",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2019.12.20",
          datetime: "2019-12-20",
          category: "news",
          home: true,
        },
        news6: {
          title: "Pugを使ってみた",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2019.11.02",
          datetime: "2019-11-02",
          category: "blog",
          home: false,
        },
        news7: {
          title: "コンバージョンを上げやすいデザインとは",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2019.08.19",
          datetime: "2019-08-19",
          category: "blog",
          home: false,
        },
        news8: {
          title: "デザイン勉強会を行いました。",
          desc: "",
          path: "/news/detail/",
          hasChild: false,
          date: "2019.05.20",
          datetime: "2019-05-20",
          category: "news",
          home: false,
        },
      }
    },
    contact: {
      title: "お問い合わせ",
      desc: "",
      path: "/contact/",
      hasChild: false,
      currentDir: "contact",
    },
    access: {
      title: "アクセス",
      desc: "",
      path: "/access/",
      hasChild: false,
      currentDir: "access"
    },
    not_found: {
      title: "お探しのページが見つかりません",
      desc: "",
      path: "/",
      hasChild: false,
      currentDir: "not_found"
    },
    sitemap: {
      title: "サイトマップ",
      desc: "",
      path: "/sitemap/",
      hasChild: false,
      currentDir: "contact"
    }
  }