.p-contact {
  flex-wrap: nowrap;
  color: $white;
  @media #{$screenSize_XS} {
    display: block;
  }
}

.p-contact__info {
  @media #{$screenSize_XS} {
    margin-top: 8px;
    width: 100%;
  }
  @media #{$screenSize_S} {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-left: 40px;
  }
}

.p-contact__tel {
  @media #{$screenSize_XS} {
    text-align: center;
  }
  @media #{$screenSize_S} {
    margin-right: 40px;
  }
}

.p-contact__button {
  @media #{$screenSize_XS} {
    margin: 8px auto 0;
  }
}
