.p-home-visual {
  position: relative;
  overflow: hidden;
  @media #{$screenSize_XS} {
    height: 320px;
  }
  @media #{$screenSize_S} {
    height: 72vh;
    min-height: 640px;
  }

  &::before {
    display: block;
    position: absolute;
    z-index: $zIndexLv4;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, #020024 0%, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    content: '';
    height: 40%;
    max-height: 360px;
  }
}

.p-home-visual__heading {
  position: absolute;
  z-index: $zIndexLv5;
  color: $white;
  font-weight: bold;
  @media #{$screenSize_XS} {
    @include fontSize(28);
    bottom: 24px;
    left: 5%;
  }
  @media #{$screenSize_S} {
    @include fontSize(48);
    left: 40px;
    bottom: 64px;
  }
}

.p-home-visual__inner {
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: $zIndexLv1;
}

.p-home-visual__container {
  height: 100%;
}

.p-home-visual__image {
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  opacity: 0;
  position: absolute;
  z-index: $zIndexLv2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  background-size: cover;
  transition: opacity linear .85s;
  // transform: scale(1.075, 1.075);

  &:nth-child(1) {
    @media #{$screenSize_XS} {
      background-image: url(/assets/img/img_home_visual_1_sp@2x.jpg);
    }
    @media #{$screenSize_S} {
      background-image: url(/assets/img/img_home_visual_1@2x.jpg);
    }
  }

  &:nth-child(2) {
    @media #{$screenSize_XS} {
      background-image: url(/assets/img/img_home_visual_2_sp@2x.jpg);
    }
    @media #{$screenSize_S} {
      background-image: url(/assets/img/img_home_visual_2@2x.jpg);
    }
  }

  &:nth-child(3) {
    @media #{$screenSize_XS} {
      background-image: url(/assets/img/img_home_visual_3_sp@2x.jpg);
    }
    @media #{$screenSize_S} {
      background-image: url(/assets/img/img_home_visual_3@2x.jpg);
    }
  }
}

.p-home-visual__image.-current {
  opacity: 1;
  transition: opacity linear .85s;
  z-index: $zIndexLv3;
  // transform: scale(1, 1);
}

.p-home-visual__item {
  display: block;
  width: 100%;
}