.p-home-section {
  position: relative;
}

.p-home-section__content {
  position: relative;
  z-index: $zIndexLv0;

  &.-reverse {
    @media #{$screenSize_S} {
      grid-template:
        "homeImg homeHeading" auto
        "homeImg homeParagraph" auto
        "homeImg homeButton" 1fr
        / 46% 50%;
      grid-gap: 0 4%;
    }
  }
  @media #{$screenSize_S} {
    display: grid;
    grid-template:
      "homeHeading homeImg" auto
      "homeParagraph homeImg" auto
      "homeButton homeImg" 1fr
      / 50% 46%;
    grid-gap: 0 4%;
  }
}

.p-home-section__heading {
  grid-area: homeHeading;

  &.-center {
    @media #{$screenSize_S} {
      text-align: center;
    }
  }

  &.-spCenter {
    @media #{$screenSize_XS} {
      text-align: center;
    }
  }

  @media #{$screenSize_XS} {
    @include fontSize(32);
  }
  @media #{$screenSize_S} {
    @include fontSize(40);
  }
}

.p-home-section__head {
  @include engFont;
  opacity: 0;
  font-weight: $medium;
  display: block;

  &.is-active {
    opacity: 1;

    & span {
      @include animation(
        $name: animateFadeIn,
        $duration: .6s,
        $timing-function: ease,
        $fill-mode: both
      );
      display: inline-block;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: $i * .04s;
        }
      }
    }

    &.-aboutus {
      & span {
        &:nth-child(6) {
          width: 10px;
        }
      }
    }
  }
}

.p-home-section__heading-sub {
  display: block;
  font-weight: $medium;
  @media #{$screenSize_XS} {
    @include fontSize(14);
  }
  @media #{$screenSize_S} {
    @include fontSize(16);
  }
}

.p-home-section__paragraph {
  grid-area: homeParagraph;
  margin-top: 24px;

  &.-spCenter {
    @media #{$screenSize_XS} {
      text-align: center;
    }
  }
  @media #{$screenSize_XS} {
    @include fontSize(14);
  }
}

.p-home-section__image {
  display: flex;
  grid-area: homeImg;
  align-items: center;

  & > img {
    width: 100%;
    vertical-align: bottom;
  }
  @media #{$screenSize_XS} {
    margin-top: 24px;
  }
}

.p-home-section__button {
  grid-area: homeButton;
  margin-top: 32px;
}
