.p-news {
  @include setNextSpace;
}

.p-news__item {

  &:last-child {
    border-bottom: 1px solid #ccc;
  }
  border: {
    top: 1px solid #ccc;
  }
}

.p-news__link {
  display: block;
  transition: opacity .4s ease;
  padding: 12px 8px;

  &:hover {
    @media #{$screenSize_M} {
      opacity: .6;
    }
  }

  @media #{$screenSize_S} {
    display: flex;
    align-items: center;
    padding: 16px;
  }
}

.p-news__info {
  display: flex;
  align-items: center;
}

.p-news__date {
  color: $textColor;
  @media #{$screenSize_XS} {
    @include fontSize(14);
  }
  @media #{$screenSize_S} {
    @include fontSize(16);
  }
}

.p-news__category {
  display: inline-block;
  margin-left: 16px;
  padding: 4px;
  text-align: center;
  color: $white;

  &.-news {
    background: {
      color: $mainColor;
    }
  }
  &.-blog {
    background: {
      color: $orengeColor;
    }
  }
  @media #{$screenSize_XS} {
    @include fontSize(10);
    min-width: 56px;
  }
  @media #{$screenSize_S} {
    @include fontSize(12);
    min-width: 64px;
  }
}

.p-news__text {
  color: $textColor;
  @media #{$screenSize_XS} {
    @include fontSize(14);
    margin-top: 4px;
  }
  @media #{$screenSize_S} {
    margin-left: 16px;
  }
}
