.p-page-heading {
  @include engFont;
  position: relative;
  text-align: center;
  color: $white;
  font-weight: $medium;
  @media #{$screenSize_XS} {
    @include fontSize(32);
  }
  @media #{$screenSize_S} {
    @include fontSize(40);
  }
}

.p-page-heading__sub {
  @include headFont;
  display: block;
  font-weight: $medium;
  @media #{$screenSize_XS} {
    @include fontSize(16);
  }
  @media #{$screenSize_S} {
    @include fontSize(20);
  }
}
