extends /_layout/_index

block vars
  -
    const page = pages.news.child.detail

block content
  +breadcrumb([
    { title: pages.news.title, path: pages.news.path },
    { title: page.title, path: page.path },
  ])

  section.l-spacer.-large
    .l-container.-small
      .p-detail-head
        h1.p-detail-head__heading あけましておめでとうございます。
        ul.p-detail-head__list
          li.p-detail-head__item
            time(datetime="2020-08-01") 2020.08.01
          li.p-detail-head__item お知らせ

      .p-edit-area
        p 
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
          a(href="#") ダミーテキストです。
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
        h2 見出しが入ります。
        p 
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
          a(href="#") ダミーテキストです。
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
        h3 見出しが入ります。
        p ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
        p ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
        ul
          li ダミーテキストです。
          li ダミーテキストです。
          li ダミーテキストです。
          li ダミーテキストです。
        p 
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
          a(href="#") ダミーテキストです。
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
        ol
          li ダミーテキストです。
          li ダミーテキストです。
          li ダミーテキストです。
          li ダミーテキストです。
        p 
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
          a(href="#") ダミーテキストです。
          | ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
        p
          img(src="/assets/img/news/detail/img_01.jpg", alt="")
        p ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。

  //- お問い合わせ
  include /_components/_contact-block
