/* ヘッダー
----------------------------------------------------------------- */
.l-header {
  @media #{$screenSize_M} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zIndexMax;
  }
}
