/* Body直下のwrapper
----------------------------------------------------------------- */
.l-root-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;

  .browser-is-ie & {
    display: block;
  }

  @media #{$screenSize_M} {
    padding-top: 80px;
  }
}
