.c-card {
  display: block;
  // border: 1px solid #eee;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  flex: 1 1 auto;
}

a.c-card {
  transition: opacity .4s ease;

  &:hover {
    @media #{$screenSize_M} {
      opacity: .6;
    }
  }
}

.c-card__header {
  display: flex;
  flex-direction: column;
}

.c-card__title {
  font-weight: bold;
  color: $textColor;
  order: 1;
  margin-top: 16px;
  @media #{$screenSize_XS} {
    @include fontSize(16);
    padding: 0 16px;
  }
  @media #{$screenSize_S} {
    @include fontSize(20);
    padding: 0 16px;
  }
}

.c-card__thumbnail {
  overflow: hidden;
  order: 0;

  & > img {
    max-width: 100%;
    vertical-align: bottom;
  }
}

.c-card__body {
  margin-top: 8px;
  @media #{$screenSize_XS} {
    padding: 0 16px 16px;
  }
  @media #{$screenSize_S} {
    padding: 0 16px 16px;
  }
}

.c-card__text {
  color: $textColor;
  @media #{$screenSize_XS} {
    @include fontSize(13);
  }  
  @media #{$screenSize_S} {
    @include fontSize(14);
  }
}