/* 見出し（ベース）
----------------------------------------------------------------- */
.c-heading {
  @include headFont;
  font-weight: bold;
  line-height: 1.5;
  @include lineHeightCrop(1.5);

  /* h1レベルの見出し
  ----------------------------------------------------------------- */
  &.-lv_1 {
    @media #{$screenSize_XS} {
      @include fontSize(28);
    }
    @media #{$screenSize_S} {
      @include fontSize(44);
    }
  }

  /* h2レベルの見出し
  ----------------------------------------------------------------- */
  &.-lv_2 {
    border-left: 6px solid $mainColor;
    padding-left: 16px;
    @media #{$screenSize_XS} {
      @include fontSize(22);
      // margin-top: 50px;
      // margin-bottom: 40px;
    }
    @media #{$screenSize_S} {
      @include fontSize(32);
      // margin-top: 80px;
      // margin-bottom: 48px;
    }
  }

  /* h3レベルのデザイン
  ----------------------------------------------------------------- */
  &.-lv_3 {
    @media #{$screenSize_XS} {
      @include fontSize(18);
      // margin-top: 40px;
      // margin-bottom: 32px;
    }
    @media #{$screenSize_S} {
      @include fontSize(22);
      // margin-top: 64px;
      // margin-bottom: 40px;
    }
  }
}

/* 中央寄せ */
.c-heading.-center {
  text-align: center;
}