/* リスト
----------------------------------------------------------------- */
.c-list {
  line-height: 1.75;

  & li {
    position: relative;
    margin-top: 6px;
    line-height: 1.5;
  }

  @media #{$screenSize_XS} {
    @include fontSize(16);
  }
  @media #{$screenSize_S} {
    @include fontSize(18);
  }
}

/* リンクリスト */
.c-list.-link {
  & > li {
    border-bottom: 1px solid $borderColor;

    & > a {
      @include fontSize(14);
      display: block;
      position: relative;
      font-weight: $medium;
      padding: {
        top: 16px;
        right: 24px;
        bottom: 16px;
      }

      @media #{$screenSize_M} {
        @include fontSize(16);
        padding-right: 32px;
      }
    }
  }
}

/**
 * 装飾付き（円）
 */
.c-list.-disc {
  & > li {
    position: relative;
    padding-left: 14px;

    &:before {
      box-sizing: border-box;
      display: block;
      position: absolute;
      top: .75em;
      left: 1px;
      border-radius: 50%;
      background-color: $mainColor;
      width: 6px;
      height: 6px;
      content: "";
    }

    + li {
      margin-top: 3px;
    }
  }
}

/**
 * 装飾付き（数字）
 */
.c-list--decimal {
  padding-left: 1em;
  list-style-type: decimal;
  list-style-position: inside;
  text-indent: -1em;
}
