/* 文章
----------------------------------------------------------------- */
.c-paragraph {
  @include lineHeightCrop(1.5);
  @include setNextSpace;
  line-height: 1.5;

  &:first-child {
    margin-top: 0;
  }

  & > a {
    transition: color .6s ease;
    &:hover {
      @media #{$screenSize_M} {
        color: $linkColor;
      }
    }
  }

  @media #{$screenSize_XS} {
    @include fontSize(14);
    // margin-top: 21px;
  }
  @media #{$screenSize_S} {
    @include fontSize(16);
    // margin-top: 24px;
  }
}

/**
* 中央寄せ
*/
.c-paragraph.-center {
  text-align: center;
}
